@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#title-block-header {
  display: none;
}

.document-header {
  background: #1e4c4c;
  padding: 15px 0 15px 0;
  color: white;
}

.logo {
  margin: auto;
}

.header-container {
  max-width: 1200px;
  margin: auto;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

h4, h3 {
  margin: 0;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.document-content-container {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

.card {
  margin-top: 10px;
  border: 1px solid rgba(229, 231, 235, 0.5);
}